.cadastrarConteiner{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: start;
    color: rgb(255, 255, 255);
    font-family: monospace;
    background-color: rgb(80, 1, 41);
  
}

.cadastrarConteiner .linkA{
   margin-top: 5%;
   align-items: center;
   justify-content: center;
   display: flex;
}   

.cadastrarConteiner .linkA small{
    font-size: 20px;
   
    padding: 2%;
    width: 30%;
  }   
  
 

.cadastrarConteiner .cadastrar input{
   height: 40px;
   width: 300px;
   padding: 5px;
}

.cadastrarConteiner .cadastrar .InputTitulo{
    height: 30px;
    width: 130PX;
    font-size: 10PX;
    margin-left: 4px;
    border-radius: 5px;
 }
 

.cadastrarConteiner .cadastrar span{
    display: flex;
    margin-top: 5%;
    
}

.cadastrarConteiner .cadastrar .divTop1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cadastrarConteiner .cadastrar .divTop2 {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}


.cadastrarConteiner .cadastrar .divTop2 section{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.cadastrarConteiner .cadastrar .divTop2 span{
   display: flex;
   align-items: start;
   justify-content: start;
   width: 18%;
   margin-top: 2%;
   margin-bottom: 1%;
    
}


.cadastrarConteiner .cadastrar .divTop2 section span{
   align-items: center;
   justify-content: center;
   display: flex;
   margin-left: 20%;

   
}


.cadastrarConteiner .cadastrar .divTop1 .ajuste{
    width: 120px;
    
}

.cadastrarConteiner .cadastrar .divTop1 span{
   margin-top: -2%;
}

.cadastrarConteiner .cadastrar .divTop1 .inputId{
    height: 30px;
    width: 60px;
    font-size: 10px;
    margin-left: 10px;
    border-radius: 5px;
 }
 
 
.cadastrarConteiner .cadastrar{
   width: 90%;
   
  
}

.cadastrarConteiner .cadastrar textarea{
   height: 100px;
   width: 300px;
   padding: 5px;
}

.cadastrarConteiner button{
    margin-top: 5%;
    align-items: flex-start;
    border: none;
    padding: 5px;
    color: forestgreen;
    cursor: pointer;
    font-weight: bolder;
    width: 300px;
}

.cadastrarConteiner .divButton{
    width: 300px;
 
}

.cadastrarConteiner a{
   width: 100%;
   margin-top: 2%;
   color: #fff;
}

.cadastrar h1{
    display: inline-block;
    margin-right: 2%;
   
}


.cadastrar {
     display: flex;
     flex-direction: column;
    align-items: start;
    justify-content: start;
 
 }


.cadastrar section{
    display: flex;
    align-items: end;
    justify-content: start; 
 

}

.cadastrar section span{
  margin-left: -8%;
  
 
 }
 
 .cadastrarConteiner .cadastrar .divTop2 button {
    height: 40px;
    text-transform: uppercase;
    border-radius: 5px;

}

 .cadastrarConteiner .cadastrar .divTop2 .select {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    color: blueviolet;
}


.cadastrarConteiner .divTop1 .select {
    margin-left: 10px;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    color: rgb(80, 6, 49);
}


.cadastrarConteiner .divTop1 .top1AjustesDiv .ajuste2 {
    width: 110px;
    height: 40px;
    border-radius: 5px;
    
}




@media (min-width: 426px) and (max-width: 768px){

   
   .cadastrarConteiner .linkA{
   margin-top: 20%;
   align-items: center;
   justify-content: center;
   display: flex;
}   

.cadastrarConteiner .linkA small{
   font-size: 20px;
   padding: 2%;
   width: 90%;
 }   

 .cadastrarConteiner .cadastrar .divTop2 .select {
   margin-left: 10px;
   width: 130px;
   height: 40px;
   border-radius: 5px;
   color: blueviolet;
}


.cadastrarConteiner .cadastrar .divTop1 .select {
   margin-left: 10px;
   width: 130px;
   height: 40px;
   border-radius: 5px;
   color: blueviolet;
}


 
.cadastrarConteiner .cadastrar .divTop2 span{
   width: 45%;
   align-items: center;
   justify-content: start;
   display: flex;
   margin-bottom: 6%;
   

}

.cadastrarConteiner .cadastrar .divTop2 .ajuste3{
   width: 100%;
   margin-left: -2%;
   
}





}


 @media (min-width: 375px) and (max-width: 425px){

     .divisoria{
        margin-left:6%;
     }    
    .cadastrarConteiner .linkA{
    margin-top: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
 }   

 .cadastrarConteiner .linkA small{
    font-size: 20px;
    padding: 2%;
    width: 90%;
    color: #fff;
  }   

  .cadastrarConteiner .cadastrar .divTop2 .select {
    margin-left: 10px;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    color: rgb(151, 137, 8);
}


.cadastrarConteiner .cadastrar .divTop1 .select {
    margin-left: 10px;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    color: rgb(151, 137, 8);
}


  
.cadastrarConteiner .cadastrar .divTop2 span{
    width: 85%;
    align-items: start;
    justify-content: start;
    display: flex;
    margin-bottom: 6%;
    
 
 }


 .cadastrarConteiner .cadastrar .divTop2 .ajuste3{
    width: 100%;
    margin-left: -2%;
    
 }


 .cadastrarConteiner .cadastrar .divTop1 .top1AjustesDiv span{
   margin-top: 2%;
   align-items: center;
   justify-content: center;
   
}




 

 }